<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Barber Shop - Alteração de preços</title>
</head>
<body>
    <header>
        <nav id="navbar">
            <i class="fa-solid fa-cut" id="nav_logo"> Barber Shop</i>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>

        <div id="mobile_menu">
            <button class="btn-default">
                <a href="/login_users" class="btn-default">
                        Agendamentos
                </a>
            </button>
        </div>
    </header>

    <main id="content">
        <section id="home">
            <div class="page-cadastro">
                <form id="reset-password-form" action="" method="POST" class="formLogin">
                    <h2>Alteração de preço</h2>
                    <p>Preencha o formulário abaixo para alterar o preço do serviço</p>
                    <label for="servico">Selecione o Serviço desejado:</label>
                    <select id="servico" name="servico" class="select-agenda input-agenda">
                        <option value="corte" id="corte" name="corte">Corte</option>
                        <option value="barba" id="barba" name="barba">Barba</option>
                        <option value="coloracao" id="coloracao" name="coloracao">Coloração</option>
                        <option value="tratamento_capilar" id="tratamento_capilar" name="tratamento_capilar">Tratamento Capilar</option>
                    </select>
                    <label for="preco">Preço:</label>
                    <input type="text" id="preco" name="preco" placeholder="Digite o preço do produto" autofocus="true" />
                    <input type="submit" value="Alteral" class="btn" />
                    <a href="/">Voltar para tela inicial</a>
                </form>
            </div>
        </section>
    </main>
    <script src="src/javascript/script.js"></script>
</body>
</html>